.my-swiper {
  height: auto;
}

.my-swiper .swiper-slide {
  aspect-ratio: 3 / 4;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.my-swiper .swiper-slide img {
  aspect-ratio: 3 / 4;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.my-swiper .swiper-slide img:hover {
  filter: grayscale(0%);
}
