.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../assets/images/hero-image.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.hero__title {
  font-family: "Krona One", sans-serif;
  font-size: 3rem;
  color: #c7c7c7c7;
  max-width: 600px;
  line-height: 1.2;
}

.hero__subtitle {
  font-family: "Krona One", sans-serif;
  font-size: 1rem;
  color: #c7c7c7c7;
  max-width: 500px;
  line-height: 1.5;
}

@media screen and (max-width: 468px) {
  .hero {
    flex-direction: column;
    text-align: center;
    height: 60vh;
    padding: 50px 20px;
  }

  .hero__title {
    font-size: 1.8rem;
  }

  .hero__subtitle {
    font-size: 0.7rem;
  }
}
