.about {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 60px;
  margin: 0 auto;
}

.about__image {
  border-radius: 50%;
  width: 580px;
  height: auto;
  object-fit: cover;
}

.about__content {
  width: 500px;
  margin: 0 auto;
}

.about__title {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #c7c7c7c7;
  margin-bottom: 10%;
  text-align: center;
}

.about__subtitle {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: #c7c7c7c7;
  margin-bottom: 20px;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 60px 40px;
  }

  .about__image {
    width: 450px;
  }

  .about__content {
    width: 380px;
  }

  .about__title {
    font-size: 2.2rem;
  }

  .about__subtitle {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 880px) {
  .about {
    padding: 3rem 3rem;
    flex-direction: column;
  }

  .about__image {
    width: 300px;
    padding-left: 20px;
  }

  .about__content {
    width: 80vw;
  }

  .about__title {
    font-size: 2rem;
    margin: 3rem 0 3rem 0;
  }

  .about__subtitle {
    font-size: 1rem;
  }
}

@media screen and (max-width: 680px) {
  .about {
    padding: 40px 20px;
    flex-direction: column;
  }

  .about__image {
    width: 380px;
  }

  .about__content {
    width: 450px;
  }

  .about__title {
    font-size: 2.2rem;
  }

  .about__subtitle {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .about {
    padding: 40px 20px;
  }

  .about__image {
    width: 280px;
  }

  .about__content {
    width: 300px;
  }

  .about__title {
    font-size: 2rem;
  }

  .about__subtitle {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .about {
    padding: 40px 20px;
  }

  .about__image {
    width: 200px;
  }

  .about__content {
    width: 200px;
  }

  .about__title {
    font-size: 1.5rem;
  }

  .about__subtitle {
    font-size: 0.8rem;
  }
}
