.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 10rem;
}

.modal-close {
  position: absolute;
  top: -1rem;
  right: 8rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}

.modal-content img {
  width: 70%;
  height: auto;
  border-radius: 8px;
}

@media screen and (max-width: 480px) {
  .modal-content {
    margin-left: 1rem;
    max-width: 90%;
    padding: 16px;
  }

  .modal-close {
    top: -0.5rem;
    right: 1rem;
    font-size: 1.6rem;
  }

  .modal-content img {
    width: 100%;
    border-radius: 6px;
  }
}
